pkgbase = php7-mcrypt
	pkgdesc = mcrypt module for extra/php7 package (>=7.2.0, <8.0.0)
	pkgver = 1.0.5
	pkgrel = 1
	url = https://pecl.php.net/package/mcrypt
	install = mcrypt.install
	arch = i686
	arch = x86_64
	license = PHP
	makedepends = autoconf
	makedepends = re2c
	depends = php7
	depends = libmcrypt
	source = http://pecl.php.net/get/mcrypt-1.0.5.tgz
	md5sums = 30a4fd60aa3c1c4ea78c3e3d953acace

pkgname = php7-mcrypt

